terraform.tfstate
terraform.tfstate.backup
.terraform*
.DS_store
# terraform.tfvars not needed - just pass project_id via command line

# Ignore actual config files containing secrets
config/nightscout.env
config/gcp-credentials.json
